.blog-container {
	position: absolute;
	top: 59px;
	left: 0;
	right: 0;
}

.blog-hero {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blog-hero-left {
	flex: 1;
	padding: 20px;
}

.blog-hero-right {
	flex: 1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blog-hero-right-background {
	flex: 1;
	background-image: url('/blog-hero-photo.jpg');
	background-size: cover;
	width: auto;
	max-width: 500px;
	height: 300px;
	margin: 20px;
	border-radius: 0.25rem;
}

.blog-hero-title {
	color: #161e2e;
	font-size: 2rem;
	letter-spacing: -0.025em;
	font-weight: 800;
	margin-bottom: 20px;
	text-align: center;
}

.blog-hero-subtitle {
	color: #161e2e;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: 0.2rem;
	margin-top: 1.5rem;
	margin-bottom: 10px;
}

.blog-hero-description {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	text-align: center;
	padding: 10px;
	max-width: 500px;
	margin: 10px auto;
}

.blog-hero-photo {
	width: 100%;
}

.blog-hero-button {
	width: 70%;
	padding: 10px;
	color: #326fa4;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #326fa4;
	border-radius: 0.25rem;
	background-color: #f9fafa;
	max-width: 150px;
	margin: 20px auto;
	text-align: center;
	cursor: pointer;
}

.blog-hero-button:hover {
	background-color: #fcfcfc;
}

.blog-posts {
	max-width: 768px;
	margin: 0 auto;
}

.post-preview {
	padding: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(238, 238, 238);
}

.post-preview:last-of-type {
	border: none;
}

.post-preview-header {
	padding-bottom: 10px;
	color: #161e2e;
}

.post-preview-header a {
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
}

.post-preview-content {
	color: #696969;
	font-size: 0.8888888888888888em;
	line-height: 1.8;
	margin-bottom: 10px;
}

.post-preview-readmore {
	color: #0070f3;
}

.post-preview-readmore a {
	position: relative;
	padding: 7px;
	cursor: pointer;
	border-radius: 0.25rem;
	-webkit-transition: background 0.2s ease, color 0.2s ease,
		box-shadow 0.2s ease;
	transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.post-preview-readmore a:hover {
	background: rgba(0, 118, 255, 0.1);
}

.author-preview {
	display: flex;
	margin-bottom: 10px;
	align-items: center;
	padding: 7px;
}

.author-preview a {
	cursor: pointer;
}

.author-preview-logo {
	width: 40px;
	height: 40px;
	border-radius: 0.25rem;
	background: rgba(0, 118, 255, 0.1);
}

.author-preview-name {
	line-height: 1.25rem;
	padding-left: 10px;
}

.author-preview-displayname {
	color: #161e2e;
}

.author-preview-username {
	font-size: 12px;
	font-weight: lighter;
	color: #0070f3;
}

@media screen and (max-width: 768px) {
	.blog-hero {
		margin-bottom: 20px;
	}
	.blog-hero-right {
		display: none;
	}
	.blog-hero-left-background {
		position: absolute;
		height: 350px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('/blog-hero-photo.jpg');
		background-size: cover;
		background-position: center;
		filter: blur(10px);
		-webkit-filter: blur(10px);
		z-index: -1;
	}
}
