.blog-container {
	margin-top: 69px;
}

.blog-hero {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blog-hero-left {
	flex: 1;
	padding: 20px;
}

.blog-hero-right {
	flex: 1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.blog-hero-right-background {
	flex: 1;
	background-image: url('/blogging.svg');
	background-size: cover;
	width: auto;
	height: 300px;
	margin: 20px;
	border-radius: 0.25rem;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	animation-name: slideInLeft;
	-webkit-animation-name: slideInLeft;
	animation-duration: 1s;
}

@keyframes slideInLeft {
	from {
		right: -600px;
		left: 600px;
		top: 0;
	}
	to {
		right: 0;
		left: 0;
		top: 0;
	}
}

.animation-fadeinup {
	animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	opacity: 0;
	animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;
}

.fade-in {
	animation: fadeIn ease 1s;
	-webkit-animation: fadeIn ease 1s;
	-moz-animation: fadeIn ease 1s;
	-o-animation: fadeIn ease 1s;
	-ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.blog-hero-title {
	color: #161e2e;
	font-size: 2rem;
	letter-spacing: -0.025em;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: center;
}

.blog-hero-subtitle {
	color: #161e2e;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: 0.2rem;
	margin-top: 1.5rem;
	margin-bottom: 10px;
}

.blog-hero-description {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	text-align: center;
	padding: 10px;
	margin: 10px auto;
}

.blog-hero-photo {
	width: 100%;
}

.blog-hero-button {
	width: 70%;
	padding: 10px;
	color: #326fa4;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #326fa4;
	border-radius: 0.25rem;
	background-color: #f9fafa;
	max-width: 150px;
	margin: 20px auto;
	text-align: center;
	cursor: pointer;
}

.blog-hero-button:hover {
	background-color: #fcfcfc;
}

.blog-posts {
}

.blog-post {
	padding: 20px 0;
	margin-bottom: 10px;
}

.blog-post-out {
	width: auto;
	height: 300px;
	border-radius: 0.25rem;
	background-color: rgba(0, 118, 255, 0.1);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 10px;
}

.post-preview {
	padding: 20px;
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 0.25rem;
	position: relative;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
}

.post-preview-out {
	width: auto;
	height: 300px;
	margin: 20px 0;
	border-radius: 0.25rem;
	background-color: rgba(0, 118, 255, 0.1);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.post-preview-in {
	flex: 1;
	margin: 10px;
	margin-top: 0;
}

.post-preview-header {
	padding-bottom: 5px;
	color: #161e2e;
	font-size: 18px;
}

.follow-button {
	padding: 8px 12px;
	border: 1px solid #0079d3;
	color: #0079d3;
	border-radius: 0.25rem;
	outline: none;
	font-size: 16px;
	width: 100px;
	background-color: inherit;
	cursor: pointer;
	align-self: center;
	right: 0;
}

.follow-button:hover {
	color: #3293db;
	border: 1px solid #3293db;
}

.post-preview-header a {
	cursor: pointer;
	font-family: Open Sans, sans-serif;
}

.post-preview-content {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
	text-align: justify;
	white-space: pre-line;
	margin-top: 10px;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0;
	color: #202124;
	font-weight: 300;
}

.post-preview-readmore {
	color: #0070f3;
}

.post-preview-readmore a {
	position: relative;
	padding: 7px;
	cursor: pointer;
	border-radius: 0.25rem;
	-webkit-transition: background 0.2s ease, color 0.2s ease,
		box-shadow 0.2s ease;
	transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.post-preview-readmore a:hover {
	background: rgba(0, 118, 255, 0.1);
}

.author-preview {
	display: flex;
	margin-bottom: 10px;
	padding: 7px;
}

.author-preview a {
	cursor: pointer;
}

.author-preview-logo {
	width: 40px;
	height: 40px;
	border-radius: 0.25rem;
	background: rgba(0, 118, 255, 0.1);
}

.author-preview-name {
	line-height: 1.25rem;
	padding-left: 10px;
	flex: 1;
}

.author-preview-displayname {
	font-size: 14px;
	color: #161e2e;
}

.author-preview-displayname a:hover {
	text-decoration: underline;
}

.author-preview-timestamp {
	font-size: 12px;
	font-weight: lighter;
	color: rgb(117, 117, 117);
}
.author-preview-timestamp a:hover {
	text-decoration: underline;
}
.post-preview-author {
	font-size: 12px;
	font-weight: lighter;
	cursor: pointer;
	color: #7692ab;
}

.post-preview-author:hover {
	text-decoration: underline;
}

.create-blog-container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 10px;
	display: flex;
}

.create-blog-section {
	flex: 1;
}

.create-blog-sidebar {
	width: 310px;
	margin-left: 22px;
}

.user-widget {
	width: 100%;
	border-radius: 0.25em;
	background-color: white;
	margin-bottom: 20px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.user-widget-head {
	height: 80px;
	border-radius: 0.2em 0.2em 0 0;
}

.user-widget-center {
	position: relative;
	background-color: white;
	height: 40px;
}

.user-widget-avatar {
	width: 80px;
	height: 80px;
	background-color: #f2f2f2;
	border-radius: 0.25rem;
	position: absolute;
	top: -40px;
	left: calc(50% - 40px);
}

.user-widget-down {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 20px;
	border-radius: 0 0 0.25rem 0.25rem;
}

.user-widget-name {
	text-align: center;
}

.user-widget-displayname {
	color: #161e2e;
}

.user-widget-username {
	color: #326fa4;
	font-size: 12px;
}

.user-widget-description {
	text-align: center;
	font-size: 14px;
	color: #696969;
	padding: 7px;
	padding-bottom: 0;
	white-space: pre-line;
}

.create-blog-title {
	font-size: 24px;
	font-weight: bold;
	border-bottom: 1px solid #dae0e6;
	padding: 10px 0 20px 0;
	margin-bottom: 20px;
}

.title-create-form,
.abstract-create-form {
	position: relative;
	margin: 10px 0;
}

.title-create-form input {
	width: 100%;
	outline: none;
	font-size: 16px;
	padding: 10px;
	border-radius: 0.25rem;
	color: #555;
	border: 1px solid #dae0e6;
	padding-right: 68px;
	z-index: 2;
	background-color: white;
}

.title-create-form input:focus,
.title-create-form input:hover,
.abstract-create-form textarea:hover,
.abstract-create-form textarea:focus {
	border-color: #161e2e;
}

.title-create-form-length {
	position: absolute;
	right: 7px;
	color: #696969;
	font-weight: bold;
	font-size: 13px;
	bottom: 7px;
}

.abstract-create-form textarea {
	width: 100%;
	min-height: 200px;
	border: 1px solid #dae0e6;
	border-radius: 0.25rem;
	padding: 10px;
	outline: none;
	font-size: 16px;
	color: #555;
	padding-bottom: 30px;
	resize: none;
	z-index: 2;
	background-color: white;
	margin: 0;
}

.abstract-create-form-length {
	width: calc(100% - 4px);
	text-align: end;
	color: #696969;
	font-weight: bold;
	font-size: 13px;
	position: absolute;
	bottom: 8px;
	border-radius: 0.25rem;
	right: 2px;
	padding-right: 8px;
	padding-bottom: 5px;
	background-color: white;
}

.create-form-label {
	font-weight: bold;
	padding: 5px;
}

.content-create-form {
	width: 100%;
	outline: none;
	color: #696969;
	font-size: 0.8888888888888888em;
	line-height: 1.8;
	border-radius: 0.25rem;
	color: #555;
	border: 1px solid #dae0e6;
	width: auto;
	background-color: white;
	border-radius: 0.25rem;
}

.content-create-form .DraftEditor-root {
	cursor: text;
	font-size: 16px;
}

.content-create-form .public-DraftEditorPlaceholder-root,
.content-create-form .public-DraftEditor-content {
	margin: 0 -15px -15px;
	padding: 15px;
}

.content-create-form .public-DraftEditor-content {
	min-height: 200px;
}

.create-form-buttons {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.create-form-submit-button {
	margin-top: 10px;
	width: 20%;
	padding: 10px;
	background-color: initial;
	cursor: pointer;
	color: #326fa4;
	border: 1px solid #326fa4;
	border-radius: 0.25rem;
	font-weight: bold;
	font-size: inherit;
	margin-left: 10px;
	min-width: 78px;
}

.create-form-draft-button {
	border: none;
	background-color: inherit;
	color: #326fa4;
	font-size: 16px;
	margin-right: 30px;
	cursor: pointer;
	margin-top: 10px;
}

.create-form-draft-button:hover {
	text-decoration: underline;
}

.create-form-submit-button:hover {
	background-color: #fcfcfc;
}

.read-blog-container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
}

.blog-post-title {
	text-align: center;
	color: #161e2e;
	margin-bottom: 20px;
	padding: 0 10;
	font-size: 25px;
	line-height: 45px;
}

.blog-post-abstract {
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	padding-bottom: 20px;
	color: #202124;
	text-align: justify;
	white-space: pre-line;
	line-height: 26pt;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
}

.blog-post-content {
	font-family: 'Roboto', sans-serif;
	color: #202124;
	font-weight: 300;
	padding: 10px;
	line-height: 26pt;
	font-size: 16px;
	letter-spacing: 0;
}

.blog-post-content div,
.user-note-content div {
	white-space: normal;
}

.public-DraftStyleDefault-ltr {
	text-align: justify;
	margin-bottom: 5px;
}

.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
	margin: 0;
}

.blog-drafts-container {
	width: 100%;
	height: auto;
	background-color: #f4f4f4;
	margin-bottom: 20px;
	border-radius: 0.25em;
	box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.blog-drafts-header {
	padding: 15px;
	color: #161e2e;
}

.blog-drafts-content {
}

.blog-drafts-none {
	text-align: center;
}

.blog-drafts-button {
	padding: 10px;
	font-weight: bold;
	max-width: 150px;
	margin: 10px auto;
	text-align: center;
	cursor: pointer;
	width: 70%;
	border: 1px solid #0079d3;
	color: #0079d3;
	border-radius: 0.25rem;
	outline: none;
	font-size: 16px;
	background-color: inherit;
	cursor: pointer;
	align-self: center;
	right: 0;
}

.blog-drafts-button:hover {
	background-color: #fcfcfc;
}

.blog-main {
	display: flex;
}

.blog-drafts-item {
	padding: 10px 20px;
	cursor: pointer;
}

.blog-drafts-item:last-child {
	border: none;
}
.blog-drafts-item:last-of-type:hover {
	border-radius: 0.25rem;
}

.blog-drafts-item:hover {
	background-color: #f9fafa;
}

.blog-comments-container {
	padding-top: 20px;
}

.new-comment-container {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	min-height: 60px;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	position: relative;
}

.new-comment {
	display: flex;
	justify-content: center;
}

.new-comment-container a {
	color: #3293db;
	cursor: pointer;
}

.new-comment-container a:hover {
	text-decoration: underline;
}

.no-comment {
	padding-top: 20px;
	text-align: center;
	font-size: 18px;
}

.no-comment p {
	padding-bottom: 7px;
}

.new-comment-form {
	flex: 1;
	margin-left: 10px;
	min-height: 40px;
}

.new-comment-form textarea {
	width: 100%;
	font-size: 16px;
	padding: 12px 10px;
	border: none;
	outline: none;
	background-color: #e1e6eb;
	border-radius: 0.25rem;
	color: #555;
	resize: vertical;
}

.new-comment-form textarea:hover {
	background-color: #e8ecf0;
}

.new-comment-form textarea:focus {
	background-color: #eceff2;
}

.new-comment-button {
	margin-right: 0 !important;
	min-width: 105px;
}

.blog-comment-content {
	justify-content: 'center';
	display: 'flex';
	flex-direction: 'column';
}

.more-blog-comments {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.more-blog-comments-button {
	width: 30%;
	height: 40px;
	background-color: white;
	border: none;
	outline: none;
	-webkit-box-shadow: 0px 0px 5px 0px #ccc;
	-moz-box-shadow: 0px 0px 5px 0px #ccc;
	box-shadow: 0px 0px 5px 0px #ccc;
	border-radius: 0.25rem;
	cursor: pointer;
	color: #555;
	font-weight: bold;
	font-size: 16px;
}

.more-blog-comments-button:active {
	-webkit-box-shadow: 0px 0px 2px 0px #ccc;
	-moz-box-shadow: 0px 0px 2px 0px #ccc;
	box-shadow: 0px 0px 2px 0px #ccc;
}

.article-bottom-share {
	background-color: inherit;
	border: none;
	outline: none;
	font-size: 16px;
}

.blog-reader-true {
	color: #b39c00;
}

.post-statics {
	display: flex;
	justify-content: flex-end;
}

.pin-statics, .comment-statics {
	cursor: pointer;
	color: rgb(117, 117, 117);
	font-weight: lighter;
}

.pin-statics:hover, .comment-statics:hover {
	text-decoration: underline;
}

.comment-statics {
	justify-items: self-end;
}

@keyframes fadeInUp {
	from {
		transform: translate3d(0, 40px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes fadeInUp {
	from {
		transform: translate3d(0, 40px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@media screen and (max-width: 992px) {
	.create-blog-sidebar {
		display: none;
	}
	.create-blog-section {
		padding-left: 0;
		padding-right: 0;
	}
	.post-preview {
		flex-direction: column;
	}

	.post-preview-out {
		width: auto;
	}

	.blog-post-out,
	.post-preview-out {
		height: 250px;
	}
}

@media screen and (max-width: 768px) {
	.blog-hero {
		margin-bottom: 20px;
	}
	.blog-hero {
		height: auto;
	}
	.blog-hero-right {
		display: none;
	}
	.blog-post-out,
	.post-preview-out {
		height: 200px;
	}
}

@media screen and (max-width: 600px) {
	.follow-button {
		display: none;
	}
	.blog-post-abstract,
	.blog-post-content,
	.post-preview-content {
		font-size: 14px;
	}
	.post-preview-header,
	.blog-post-title {
		font-size: 20px;
		line-height: 35px;
	}
	.blog-post-out,
	.post-preview-out {
		height: 150px;
	}
}

@media print {
	body {
		background-color: white;
	}
	#navbar {
		position: absolute;
		border: none;
	}
	.create-blog-sidebar {
		display: none;
	}
	.follow-button {
		display: none;
	}
	.nav-list-right {
		display: none;
	}
	.blog-post-out {
		display: none;
	}
	.bottom-bar, .blog-comments-container, .status-buttons {
		display: none !important;
	}
}
