.meydan-container {
    margin-top: 59px;
    display: flex;
    flex-direction: column;
}

.meydan-svg-container {
    flex: 1;
    margin: 0 auto;
    max-width: 798px;
    width: 100%;
    position: relative;
}

.meydan-svg {
    width: 100%;
    padding-top: 61.52%;
    position: relative;
}

.meydan-title {
    flex: 1;
    margin: 20px;
    margin-top: 30px;
    text-align: center;
}

.meydan-svg-inline {
    position: absolute;
    width: calc(100% - 10px);
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}

.meydan-desc {
    max-width: 400px;
    margin: 20px auto;
}