* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #f9fafa;
	color: #555;
	font-size: 16px;
	line-height: 1.6em;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 1140px;
	margin: auto;
}

.flex-container {
	display: flex;
	flex-direction: row;
	margin-top: 69px;
}

.loading-container {
	background-color: #f9fafa;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 999999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.splash-spinner {
	font-size: 50px;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
	color: #4b89be;
}

.splash-logo {
	height: 50px;
	margin: 50px;
}

.likelink:hover {
	cursor: pointer;
}

#showcase {
	flex: 70%;
	padding: 20px 10px;
}

.article-note-container {
	margin: 10px 20px;
	padding: 10px 20px;
	width: auto;
	background-color: #fffef7;
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	box-shadow: 1px 1px 1px #ddd;
}

.article-note-content {
	border-top: 1px solid #ddd;
	margin-top: 10px;
}

.article-note-content .DraftEditor-root {
	cursor: text;
	font-size: 16px;
}

.article-note-content .public-DraftEditorPlaceholder-root,
.article-note-content .public-DraftEditor-content {
	margin: 0 -15px -15px;
	padding: 15px;
}

.article-note-content .public-DraftEditor-content {
	min-height: 100px;
}

.note-inline-button {
	color: #999;
	cursor: pointer;
	margin-left: 14px;
	padding: 4px 2px;
	display: inline-block;
	border: none;
	font-size: 16px;
}

.note-inline-button-active {
	color: #0077cc;
}

.article-note-buttons {
	display: flex;
	justify-content: flex-end;
}

.article-note-create-button {
	width: 20%;
	padding: 10px;
	background-color: #326fa4;
	color: #f2f2f2;
	border: 1px solid #4b89be;
	border-radius: 0.25rem;
	font-weight: bold;
	font-size: inherit;
	margin-left: 10px;
	margin-right: 40px;
	min-width: 78px;
}

.article-note-create-button:hover {
	background-color: #4b89be;
	color: #f2f2f2;
	cursor: pointer;
}

.article-note-create-button:disabled {
	cursor: not-allowed;
	background-color: #b3b3b3 !important;
	border: 1px solid #bfbfbf;
}

.article-note-delete-button {
	width: 20%;
	padding: 10px;
	background-color: inherit;
	color: #990000;
	border: 1px solid #990000;
	border-radius: 0.25rem;
	font-weight: bold;
	font-size: inherit;
	min-width: 78px;
}

.article-note-delete-button:hover {
	background-color: white;
	cursor: pointer;
}

.all-notes {
}

.user-note {
	width: 100%;
	padding: 20px;
	background-color: white;
	border: 1px solid #f1f1f1;
	margin-bottom: 20px;
	box-shadow: 1px 1px 1px #f1f1f1;
	position: relative;
}

.user-note-content {
	max-height: 250px;
	overflow: hidden;
}

.user-note-header {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #f1f1f1;
}

.user-note-header-link {
	color: #0077cc;
}

.user-note-header-link:hover {
	color: #326fa4
}

.user-note-buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 10px
}

.user-note-delete-button {
	background-color: inherit;
	border: none;
	font-size: 16px;
	color: #990000;
	margin-right: 20px;
	padding: 0 10px;
}

.user-note-view-button {
	color: #0077cc;
	padding: 0 10px;
}

.user-note-view-button:hover, .user-note-delete-button:hover{
	text-decoration: underline;
	cursor: pointer;
}

.user-note-deleting-off {
	display: none;
}

.user-note-deleting-on {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fbfbfb;
	z-index: 2;
	opacity: 0.7;
	border-radius: 0.25rem;
}

.user-note-delete-spinner {
	font-size: 30px;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
	color: #0077cc;
}

.user-note-delete-info {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.user-note-delete-info span {
	color: #0077cc;
	cursor: pointer;
}

.user-note-delete-info span:hover {
	text-decoration: underline;
}

.user-sidebar-content {
	position: sticky;
	position: -webkit-sticky;
	top: 72px;
}

.user-side-link {
	text-align: center;
	margin-bottom: 10px;
	padding: 10px;
}

.user-side-link a{
	padding: 10px;
	color: #4b89be;
	font-weight: bold;
}

.user-side-link a:hover {
	background-color: #4b89be;
	border-radius: 1rem;
	color: white;
}

.user-side-link-active a {
	background-color: #4b89be;
	border-radius: 1rem;
	color: white;
}

.user-side-link-active a:hover {
	background-color: #326fa4;
}

.account-header {
	padding: 0 10px;
}

.act-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #7692ab;
	color: white;
	text-align: center;
	border-radius: 0.25rem;
}

.suffix-section {
	background-color: #f4f4f4;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 0.25em;
	box-shadow: inset 1px 1px 1px #ccc;
	-webkit-box-shadow: inset 1px 1px 1px #ccc;
	-moz-box-shadow: inset 1px 1px 1px #ccc;
	color: #161e2e;
}

.section {
	margin-bottom: 10px;
	color: #161e2e;
}

.all-act {
	margin: 10px auto;
	width: 80%;
	text-align: center;
	padding: 10px;
	color: #7692ab;
	font-weight: bold;
	background-color: #f4f4f4;
	border: 1px solid #ccc;
	border-radius: 0.25em;
	box-shadow: 1px 1px 1px #7692ab;
}

.all-act:hover {
	cursor: pointer;
	background-color: white;
}

.all-act:active {
	box-shadow: inset 1px 1px 1px #ccc;
	-webkit-box-shadow: inset 1px 1px 1px #ccc;
	-moz-box-shadow: inset 1px 1px 1px #ccc;
}

/* Hero Header */

.hero-header {
	position: absolute;
	top: 59px;
	left: 0;
	right: 0;
	min-height: 300px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	display: flex;
}

.hero-inside {
	width: 100%;
	align-self: center;
	align-items: center;
}

.hero-title {
	text-align: center;
	color: #161e2e;
	font-size: 3rem;
	letter-spacing: -0.025em;
	font-weight: 800;
}

.hero-subtitle {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #161e2e;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: 0.2rem;
	margin-top: 1.5rem;
}

.hero-buttons {
	text-align: center;
	max-width: 556px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 40%;
}

.hero-buttons a {
	flex: 1;
	margin: 0 30px;
}

.hero-register-button {
	width: 40%;
}

.hero-login-button {
	width: 40%;
}

.search-container {
	margin: 40px auto 0;
	width: 40%;
}

.home-container {
	margin-top: 389px;
	width: 100%;
	margin-bottom: 20px;
}

.showcase-flex {
	width: 100%;
}

.home-item {
	min-height: 100px;
	margin: 0 15px;
	border: 1px solid #ccc;
	background-color: white;
	border-radius: 0.25rem;
	padding: 1.25rem;
	flex: 1 0 0%;
	color: #161e2e;
}

.home-item:hover {
	cursor: pointer;
	box-shadow: 1px 1px 1px #ccc;
}

.home-item-icon-container {
	padding: 10px;
	width: 120px;
	margin: 0 auto;
}

.home-item-icon {
	font-size: 100px;
	color: #839cb3;
}

.home-item:hover .home-item-icon {
	color: #4b89be;
}

.home-item-header {
	color: #161e2e;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	font-size: 18px;
}

.home-item p {
	text-align: center;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
}

/* Buttons */

.button-blue {
	width: 20%;
	padding: 10px;
	background-color: #7692ab;
	color: #f2f2f2;
	border: 1px solid #839cb3;
	border-radius: 0.25rem;
	font-weight: bold;
	font-size: inherit;
}

.button-blue:hover {
	background-color: #839cb3;
	color: white;
	cursor: pointer;
}

.button-blue:focus {
	outline: none;
}

.button-link {
	border: none;
	background-color: inherit;
	color: green;
	font-size: inherit;
}

.button-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.button-link:focus {
	outline: none;
}

/* Cards */

.card-holder {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	margin: 20px 15px;
	padding: 20px;
}

.number-holder {
	margin-bottom: 5px;
	height: 25px;
	width: 30%;
	background-color: rgba(176, 176, 176, 0.11);
}

.header-holder {
	margin-bottom: 5px;
	height: 25px;
	width: 50%;
	background-color: rgba(176, 176, 176, 0.11);
}

.content-holder {
	height: 150px;
	background-color: rgba(176, 176, 176, 0.11);
}

.card {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	margin: 20px 15px;
	padding: 20px;
}

.card-header {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 5px;
	color: #0077cc;
}

.card-header a:hover {
	color: #7692ab;
}

.card-content {
	margin: 10px 0;
	white-space: pre-line;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
}

.card-footer {
	font-size: 14px;
	color: #0077cc;
}

.card-footer a:hover {
	text-decoration: underline;
}

.card-deck {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

.card-deck-item {
	min-height: 100px;
	margin: 0 5px;
	border: 1px solid #26547c;
	background-color: #26547c;
	color: white;
	border-radius: 0.25rem;
	display: flex;
	padding: 1.25rem;
	flex: 1 0 0%;
	align-items: center;
	justify-content: center;
	-webkit-transition: background-color 500ms ease-in-out;
	-moz-transition: background-color 500ms ease-in-out;
	-o-transition: background-color 500ms ease-in-out;
	transition: background-color 500ms ease-in-out;
}

.card-deck-item:hover {
	background-color: #f9fafa !important;
	color: black !important;
}

.card-deck-text {
	text-align: center;
	font-weight: bold;
	margin: 0;
}

.suffix-title {
	margin-left: 35px;
	white-space: pre-line;
}

/* Bottom Bar */

.bottom-bar {
	display: none;
}

/* Navbar */

#navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 59px;
	background-color: white;
	z-index: 99;
	border-bottom: 1px solid #ccc;
}

#navbar:hover {
	cursor: pointer;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-list {
	display: flex;
	flex-direction: row;
	height: 59px;
	align-items: center;
	width: auto;
}

.nav-list-right {
	align-self: flex-end;
}

.nav-list li {
	list-style-type: none;
	margin-right: 20px;
}

.logo-link {
	height: 100%;
	display: flex;
	align-items: center;
}

.navlink {
	padding: 8px 10px;
	border-radius: 2px;
	font-weight: bold;
}

.navlink-button {
	position: relative;
	padding: 8px 10px;
	border-radius: 2px;
	font-weight: bold;
	border: none;
	background-color: inherit;
	font-size: 16px;
	color: inherit;
}

.navlink-button:hover .nav-link-button-icon {
	cursor: pointer;
	color: #326fa4;
}

.navlink:hover,
.navlink-active {
	background-color: #7692ab;
	color: white;
}

.logo {
	height: 32px;
	margin: 0 8px;
	align-self: center;
}

.usernav-dropdown {
	position: absolute;
	width: 250px;
	background-color: #fafafa;
	z-index: 9999;
	top: 50px;
	right: 0px;
	border: 1px solid #ccc;
	border-top: none;
	display: none;
	border-radius: 0 0 0.25rem 0.25rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	padding: 10px;
	cursor: default;
}

.usernav-dropdown li {
	padding: 5px;
	text-align: center;
	margin: 0;
}

.usernav-dropdown li a:hover {
	cursor: pointer;
	color: #4b89be;
}

.usernav-name {
	word-break: break-word;
	color: #161e2e;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 5px;
}

/* Sidebar */

#sidebar {
	flex: 30%;
	padding: 10px;
}

.sidebar-icon {
	font-size: 23px;
	color: #4b89be;
	margin: 0 10px;
}

.title {
	margin: 15px;
}

.side-card {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.125);
	margin: 20px 10px;
}

.side-card-sticky {
	position: sticky;
	position: -webkit-sticky;
	top: 72px;
}

.side-card-title {
	padding: 15px;
	border-bottom: 1px solid #ccc;
}
.side-list {
	display: flex;
	flex-direction: column;
	background-color: #f4f4f4;
}

.side-list-sticky {
	max-height: calc(100vh - 200px);
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.side-list li {
	list-style-type: none;
}

.side-list-item {
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
}

.side-list-item-selected {
	background-color: #fbfbfb;
	cursor: 'pointer';
}

.side-list-item:hover {
	background-color: #fbfbfb;
}

.side-card-content {
	background-color: white;
	padding: 15px;
	font-weight: bold;
}

.search-form {
	width: auto;
	margin: 10px 10px 20px 10px;
	display: flex;
}

.search-input {
	width: 30px;
	font-size: 1rem;
	flex-grow: 1;
	border: 1px solid #7692ab;
	border-radius: 0.25rem;
	padding: 10px 15px;
	margin-right: 10px;
}

.search-input:focus,
.search-input:hover {
	outline: none;
	box-shadow: 1px 1px 1px #7692ab;
}

/* Others */

.others-bar {
	background-color: #f9fafa;
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #f2f2f2;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 59px;
}

.others-after,
.others-before,
.others-go {
	font-weight: bold;
	padding: 10px;
	flex: 1;
	font-size: 14px;
}

.others-before {
	text-align: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.others-after {
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.others-go {
	text-align: center;
}

.others-item:hover {
	color: #7692ab;
	border-radius: 0.25rem;
}

.others-item {
	display: flex;
	width: auto;
}

.others-form {
	display: flex;
}

.others-input {
	border: 1px solid #7692ab;
	border-right: none;
	border-radius: 0.25rem 0 0 0.25rem;
	background-color: #fff;
	padding: 8px;
	width: 80%;
	font-weight: bold;
}

.others-button {
	border: 1px solid #7692ab;
	border-radius: 0 0.25rem 0.25rem 0;
	background-color: #7692ab;
	padding: 8px 0;
	height: auto;
	width: 20%;
	font-weight: bold;
	color: white;
}

.others-input:hover,
.others-input:focus {
	outline: none;
	background-color: #fbfbfb;
}

.others-button:hover {
	cursor: pointer;
	color: #555;
	background-color: white;
}

/* Register Form */

.register-flex {
	max-width: 400px;
	width: 95%;
	margin: 0 auto;
	padding-bottom: 20px;
}

.register-header {
	max-width: 390px;
	width: 95%;
	margin: 20px auto 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.register-title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
	color: #161e2e;
}

.register-subtitle {
	font-size: 18px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.15rem;
}

.register-footer {
	max-width: 390px;
	width: 95%;
	margin: 20px auto 0;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.register-footer a {
	color: #326fa4;
	font-weight: 600;
}

.register-footer a:hover {
	text-decoration: underline;
}

.register-form {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.register-form input[type='text'],
.register-form input[type='email'],
.register-form input[type='password'] {
	width: 100%;
	font-size: 16px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	outline: none;
}

.register-form input[type='text']:focus,
.register-form input[type='email']:focus,
.register-form input[type='password']:focus,
.register-form input[type='text']:hover,
.register-form input[type='email']:hover,
.register-form input[type='password']:hover {
	box-shadow: inset 1px 1px 1px #ccc;
	-webkit-box-shadow: inset 1px 1px 1px #ccc;
	-moz-box-shadow: inset 1px 1px 1px #ccc;
}

.register-form label {
	width: 100%;
	padding-left: 10px;
	margin-bottom: 3px;
	font-weight: bold;
	color: #161e2e;
}

.register-button {
	max-width: 300px;
	width: 70%;
	padding: 10px;
	background-color: #326fa4;
	color: #f2f2f2;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #4b89be;
	border-radius: 0.25rem;
}

.register-button {
	width: 100%;
}

.register-button:hover {
	cursor: pointer;
	background-color: #387cb7;
	color: white;
}

.login-button {
	max-width: 300px;
	width: 70%;
	padding: 10px;
	color: #326fa4;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #326fa4;
	border-radius: 0.25rem;
	background-color: initial;
}

.login-button:hover {
	cursor: pointer;
	background-color: #f9fafa;
}

.login-button-inner:hover {
	background-color: #fcfcfc !important;
}

.login-button {
	width: 100%;
}

.login-spinner {
	font-size: 16px;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.register-form .form-control {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	max-width: 360px;
	width: 90%;
}

.register-form .error {
	font-size: 14px;
	color: #990000;
	padding: 5px;
}

.suffix-error {
	margin: 0 10px 10px;
	text-align: center;
	white-space: pre-line;
}

/* Loader */

.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
.loader {
	margin: 60px auto;
	font-size: 3px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #7692ab;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Media Queries */

@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.flex-container {
		flex-direction: column;
	}
	#showcase {
		padding-top: 0;
	}
	.h-none {
		display: none;
	}
	.search-container {
		width: 80%;
		max-width: 384px;
	}
	.search-input {
		margin-right: 0;
	}
	.hero-buttons {
		width: 80%;
		max-width: 384px;
	}
	.hero-buttons a {
		margin: 0 10px;
	}
}
@media screen and (min-width: 992px) {
	.normal-none {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
	.button-blue {
		display: none;
	}
	.sm-none {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.card-deck {
		flex-direction: column;
	}

	.card-deck-item {
		margin: 5px 5px;
	}
	.home-item {
		margin: 15px 15px;
	}
	.s-none {
		display: none;
	}
	.others-input {
		border: 1px solid #7692ab;
		border-radius: 0.25rem;
		width: 100%;
		min-width: 130px;
	}
	.navlink-button {
		padding: 8px 3px;
	}

	/* Bottom Bar */

	.bottom-bar {
		display: block;
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		height: 59px;
		background-color: white;
		z-index: 99;
		border-top: 1px solid #ccc;
	}

	.bottom-bar-container {
		height: 59px;
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
	}

	.bottom-bar-item {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #4b89be;
	}

	.bottom-bar-item:hover {
		cursor: pointer;
		color: #839cb3;
	}

	.bottom-bar-item-icon {
		font-size: 26px;
		margin-top: 4px;
	}

	.bottom-bar-item-icon-active {
		color: #839cb3;
	}

	.bottom-bar-item-text {
		font-size: 12px;
		color: #161e2e !important;
		text-align: center;
	}
	.flex-container {
		margin-bottom: 59px;
	}
}
