.settings-container {
	width: 100%;
	max-width: 1140px;
	margin: 59px auto;
	padding: 0 10px;
}

.settings-title {
	padding-bottom: 30px;
}

.settings-navigations {
	margin-bottom: 20px;
}

.settings-navigations ul {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.settings-navigations li {
	cursor: pointer;
	font-weight: bold;
	list-style-type: none;
	padding: 10px;
	padding-bottom: 5px;
	margin-right: 10px;
}

.settings-navigations li:hover {
	color: #161e2e;
}

.active-nav {
	border-bottom: 5px solid #4b89be;
}

.settings-content {
	max-width: 768px;
}

.settings-group {
	padding: 10px;
}

.setting-title {
	color: #161e2e;
	font-size: 16px;
}

.setting-subtitle {
	font-size: 12px;
	line-height: 16px;
}

.setting-form {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.setting-input {
	flex: 1;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	outline: none;
	font-size: 16px;
	margin: 10px 10px 10px 0;
	color: #555;
}

.setting-button {
	width: 30%;
	padding: 8px 12px;
	border: 1px solid #0079d3;
	color: #0079d3;
	border-radius: 0.25rem;
	outline: none;
	font-size: 16px;
	max-width: 200px;
	background-color: inherit;
	margin: 10px 0;
	cursor: pointer;
}

.setting-button:hover {
	color: #3293db;
	border: 1px solid #3293db;
}

.setting-form-area {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.setting-area {
	width: 100%;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	outline: none;
	font-size: 16px;
	margin: 10px 10px 10px 0;
	resize: none;
	color: #555;
}

.setting-form-area button {
	align-self: flex-end;
	margin: 0 0 10px 0;
}

.avatar-upload {
	width: 180px;
	height: 180px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.avatar-upload-preview {
	width: 180px;
	height: 180px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	background-color: rgba(0, 118, 255, 0.1);
}

.avatar-upload-button {
	position: absolute;
	bottom: 5px;
	left: calc(50% - 15px);
	background: white;
	border: none;
	outline: none;
	padding: 5px;
	border-radius: 0.25rem;
	font-size: 20px;
	color: #0079d3;
	border: 1px solid #0079d3;
}

.upload-form-control {
	padding: 10px 0;
}

.dashboard-container {
	display: flex;
	margin-top: 69px;
}

.dashboard-sidebar-inside {
	width: 210px;
	margin-right: 22px;
	margin-left: 8px;
}
.dashboard-main {
	flex: 1;
	overflow: hidden;
}

.dashboard-user-preview {
	display: flex;
	padding: 10px;
	cursor: pointer;
	margin: 3px 0;
}

.dashboard-user-preview:hover {
	background-color: rgba(0, 118, 255, 0.1);
	border-radius: 1rem;
	transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.dashboard-user-logo {
	height: 40px;
	width: 40px;
	margin-right: 10px;
	border-radius: 0.25rem;
	background-color: rgba(0, 118, 255, 0.1);
}

.dashboard-logo {
	width: 40px;
	height: 40px;
	border-radius: 0.25rem;
}

.dashboard-user-name {
	height: 40px;
}

.dashboard-username {
	color: rgb(101, 119, 134);
	font-size: 14px;
	line-height: 1.3rem;
}

.dashboard-displayname {
	color: rgba(0, 0, 0, 0.54);
	font-size: 14px;
	line-height: 1.3rem;
	font-weight: bold;
}

.dashboard-menu {
	display: flex;
	flex-direction: column;
}

.dashboard-menu-item {
	padding: 10px;
	color: #4b89be;
	font-weight: bold;
	cursor: pointer;
	margin: 3px 0;
	display: flex;
	flex-direction: row;
}

.dashboard-menu-item:hover,
.dashboard-menu-item-active {
	background-color: rgba(0, 118, 255, 0.1);
	border-radius: 1rem;
	transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.dashboard-icon-container {
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dashboard-menu-item-icon {
	font-size: 16px;
}

.dashboard-menu-text {
	flex: 1;
	color: rgba(0, 0, 0, 0.54);
	margin-left: 10px;
}

.dashboard-section-title {
	flex: 1;
	align-self: flex-start;
}

.dashboard-sidebar-in {
	position: static;
	position: -webkit-sticky;
	top: 69px;
}

@media screen and (max-width: 768px) {
	.dashboard-sidebar {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.setting-form {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.setting-input {
		width: 100%;
	}

	.setting-button {
		align-self: flex-end;
		margin: 0 0 10px 0;
	}
}
