.settings-container {
	width: 100%;
	max-width: 1140px;
	margin: 59px auto;
	padding: 0 10px;
}

.settings-title {
	padding-bottom: 30px;
	padding-top: 30px;
}

.settings-navigations {
	margin-bottom: 20px;
}

.settings-navigations ul {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.settings-navigations li {
	cursor: pointer;
	font-weight: bold;
	list-style-type: none;
	padding: 10px;
	padding-bottom: 5px;
	margin-right: 10px;
}

.settings-navigations li:hover {
	color: #161e2e;
}

.active-nav {
	border-bottom: 5px solid #4b89be;
}

.settings-content {
	max-width: 768px;
}

.settings-group {
	padding: 10px;
}

.setting-title {
	color: #161e2e;
	font-size: 16px;
}

.setting-subtitle {
	font-size: 12px;
	line-height: 16px;
}

.setting-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.setting-input {
    flex: 1;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	outline: none;
    font-size: 16px;
	margin: 10px 10px 10px 0;
	color: #555;
}

.setting-button {
    width: 30%;
    padding: 8px 12px;
    border: 1px solid #0079D3;
    color: #0079D3;
	border-radius: 0.25rem;
	outline: none;
    font-size: 16px;
    max-width: 200px;
    background-color: inherit;
    margin: 10px 0;
    cursor: pointer;
}

.setting-button:hover {
    color: #3293db;
    border: 1px solid #3293db;
}

.setting-form-area {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.setting-area {
	width: 100%;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	outline: none;
    font-size: 16px;
	margin: 10px 10px 10px 0;
	resize: none;
	color: #555;
}

.setting-form-area button {
	align-self: flex-end;
	margin: 0 0 10px 0;
}

@media screen and (max-width: 600px) {
	.setting-form {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	
	.setting-input {
		width: 100%;
	}
	
	.setting-button {
		align-self: flex-end;
		margin: 0 0 10px 0;
	}
}